version: "3"

services:
  valence-processor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: valence-processor
    environment:
    - PYTHONUNBUFFERED=1
    - ID=valence-processor
    volumes:
      - feat_resources_volume:/usr/local/lib/python3.11/site-packages/feat/resources
    networks:
      - custom_network

volumes:
  feat_resources_volume:

networks:
  custom_network:
    external: true
